body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
}

h2 {
    text-align: center;
    margin-top: 20px;
    color: white;
  
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    animation: glow 1s infinite alternate;
}


@keyframes glow {
    0% {
        box-shadow: 0 0 5px rgba(0, 0, 255, 0.7);
    }
    100% {
        box-shadow: 0 0 20px rgba(9, 245, 245, 0.968);
    }
}

table th, table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

table th {
    background-color: black;
    color: white;
}

table tr:nth-child(even) {
    background-color:  black;
    color: white;
}

table tr:hover {
    background-color: black;
    color: white;
}

button {
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 20px;
    animation: glow 1s infinite alternate;
}

button:hover {
    background-color: orangered;
}

button:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
}
button.logoutBtn {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #f44336; /* Red color */
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    z-index: 999; /* Ensure it's above other elements */
    margin-right: 50px;
}

button.logoutBtn:hover {
    background-color: #d32f2f; /* Darker red on hover */
}
